*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 10px;
  align-items: center;
  background-image: linear-gradient(180deg, purple, rgb(38, 38, 44));
}

.container{
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  background: #fff;
  border-radius: 5px;
}

.title{
  font-size: 25px;
  font-weight: 600;
  position: relative;
}

.title::before{
  content: '';
  position: absolute;
  height: 3px;
  left: 0;
  bottom: 0;
  width: 30px;
  background:linear-gradient(180deg, purple, rgb(38, 38, 44));
}

form .user-detials{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:20px 0 12px 0;
}

form .user-detials .input-box{
  width: calc(100% / 2 - 20px);
  margin-bottom: 15px;
}

.user-detials .input-box .details{
   font-weight: 900;
   margin-bottom: 5px;
   display: block;
}

.user-detials .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-detials .input-box input:focus,
.user-detials .input-box input:valid{
   background:rgb(231, 231, 235) ;
}

.gender-title{
  font-size: 30px;
  font-weight: 400;
}

.category{
  display: flex;
  width: 80%;
  margin: 14px 0s;
  justify-content: space-between;
}

.gender-detials .category label{
  display: flex;
}

.gender-detials .category .dot{
  height: 18px;
  width: 18px;
  background:whitesmoke;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
  border-color: black;
  background: whitesmoke;
}

form input[type="radio"]{
  display: none;
}

.button{
  height: 45px;
  margin: 45px 0;
}

.button input{
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  background: linear-gradient(180deg, purple, rgb(38, 38, 44));
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 5px;
}

form .button input:hover{
  background:linear-gradient(-180deg, purple, rgb(38, 38, 44));
}

@media (max-width: 548px) {
  .container {
    max-width: 100%;
  }
   form .user-detials .input-box{
     margin-bottom: 15px;
     width: 100%;
   }
   form .gender-detials .category{
    width: 100%;
   }
   .containerform .user-detials{
     max-height: 300px;
     overflow-y: scroll;
   }
   .user-detials::-webkit-scrollbar{
     width: 0;
   }
    
}